{
  "semi": false,
  "useTabs": false,
  "singleQuote": true,
  "bracketSpacing": false,
  "arrowParens": "always",
  "trailingComma": "none",
  "bracketSameLine": true,
  "printWidth": 100,
  "svelteSortOrder": "options-scripts-styles-markup",
  "svelteStrictMode": true,
  "svelteAllowShorthand": false,
  "svelteIndentScriptAndStyle": true
}
